/* Font */
@font-face {
    font-family: 'voyagebold';
    src: url('../font/voyage-bold-webfont.woff2') format('woff2'),
         url('../font/voyage-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Variables */
:root {
    --color-text: #efefefbe;
    --color-bg: #121111;
    --color-link: #EFEFEF;
    --color-link-hover: #EFEFEF;
    --secondary-text-color: #efefef92;
    --category-title-size: 170px;
    --category-title-line-height: 120px;
    --display-font-family: "voyagebold", serif;
    --text-font-family: 'Roboto', sans-serif;
    --text-size: 18px;
    --text-size-secondary: 11px;
    --text-size-tertiary: 11px;
}

/* General styles */
body {
    color: var(--color-text);
    background-color: var(--color-bg);
    font-family: var(--text-font-family);
    font-size: var(--text-size);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

/* Header */
header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    word-break: break-all;
    overflow: hidden;
    position: relative;
}

/* Navigation */
nav {
    position: fixed;
    top: 0;
    left: 0;
    padding: 50px 0;
    width: 100%;
}

.navbar {
    margin: auto;
    width: 90vw;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: var(--text-size-tertiary);
    text-decoration: none;
    margin-right: 15px;
}

/* Name Title */
.name-title {
    display: inherit;
    justify-content: center;
    align-items: center;
    min-height: 33vh;
}

.name-title h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: var(--text-size-tertiary);
}

/* Welcome */
.bienvenue {
    display: inherit;
    align-items: center;
    justify-content: center;
    min-height: 33vh;
    word-break: normal;
    text-align: center;
}

.bienvenue h2 {
    font-size: 235px;
}

/* Links */
.links {
    display: inherit;
    align-items: center;
    justify-content: space-between;
    min-height: 33vh;
    display: none;
}

.links a {
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--secondary-text-color);
    margin: 0 10px;
    font-size: var(--text-size-secondary);
}

.links a:hover {
    letter-spacing: 100px;
}

/* Footer */
footer {
    padding: 50px 0;
    margin: auto;
    width: 90vw;
    z-index: 100;
}

.line {
    width: 100%;
    height: 1px;
    background-color: rgba(239, 239, 239, 0.1);
}
