/* FOOTER */
footer {
    margin: auto;
    width: var(--general-document-width);
    z-index: 100;
    margin-bottom: calc(var(--general-margin-var) / 2);
}

.footer-menu {
    display: flex;
    margin-top: calc(var(--general-margin-var) / 4);
    justify-content: space-between;
}

.footer-menu a {
    text-decoration: none;
    margin-top: 0;
    margin-right: 15px;
}

.footer-menu p {
    width: 50%;
    text-align: right;
    margin: 0;
}