/* FOOTER */
footer {
    margin: auto;
    width: var(--general-document-width);
    z-index: 100;
    margin-bottom: calc(var(--general-margin-var) / 2);
}

footer .line {
    margin-top: 0;
}

footer section {
    margin-top: calc(var(--general-margin-var) / 2);
}

.footer-menu {
    display: flex;
    margin-top: calc(var(--general-margin-var) / 2);
    justify-content: space-between;
}

.footer-menu > * {
    /* width: 33%; */
    margin: 0!important;
}

.footer-menu > a {
    margin-right: 30px!important;
}

.footer-menu p:last-of-type {
    text-align: right;
}