body {
    /* min-height: 100vh; */
}

nav {
    position: relative;
} 

main {
    /* min-height: calc(100vh - var(--navAndFooterHeight)); */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: calc(var(--general-margin-var) / 2) 0 ;
}

.project {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: var(--general-document-width);
    min-height: calc(100vh - var(--navAndFooterHeight));
    /* margin-top: calc(var(--general-margin-var) / 2); */
}

iframe {
    width: 50%;

}

.project-description {
    width: 50%;
    padding-left: calc(var(--general-margin-var) / 2);
}

.project-description .line {
    margin: calc(var(--general-margin-var) / 3) 0;
}


h4 {
    color: var(--color-text);
    font-weight: 400;
    transition: font-weight .1s ease-in-out;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
    vertical-align: top;
    line-height: 1em;
}

p {
    margin: 0;
    margin-top: 20px;
}


footer {
    /* margin-top: calc(var(--general-margin-var) / 2); */
}

.control_buttons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
}

.control_buttons div {
    /* width: 40%; */
    /* max-height: var(--text-size-tertiary); */

}

.control_buttons div:last-child {
    text-align: right;
}

.control_buttons a {
    padding: calc(var(--general-margin-var) / 4);
    border: .1px solid var(--secundary-text-color);
    text-decoration: none;
    line-height: 1em;
    /* vertical-align: top; */
    transition: all 150ms cubic-bezier(0, .61, .28, .92);
}

.control_buttons a:hover {
    background-color: #89898933;
}

@media only screen and (max-width: 1070px) {
    nav {
        display: none;
    }

    main {
        height: auto;
        display: block;
        margin: 0;
    }

    .project {
        flex-wrap: wrap;
        justify-content: center;
        /* align-items: center; */
        margin: auto;
        width: 100%;
        /* min-height: 0; */
    }

    .project-description {
        width: var(--general-document-width);
        margin-top: calc(var(--general-margin-var) / 2);
        padding-left: 0;
    }

    iframe {
        width: 100%;
        aspect-ratio: 16 / 9;
    }

    .control_buttons {
        margin-bottom: calc(var(--general-margin-var) / 3);
    }
}