@font-face {
    font-family: helveticathin;
    src: url(../fonts/HelveticaNeueLTCom-Th.ttf);
}

body {
    --color-text: #EFEFEF;
	--color-bg: #060606;
	--color-link: #EFEFEF;
    --color-link-hover: #EFEFEF;
    --category-text-size: 218px;
    --category-line-height: 170px;
    --display-font-family: baskerville-poster-pt, serif;
    /*--display-font-family: 'Playfair Display', serif;*/
    --text-font-family: 'Roboto', sans-serif;
    color: var(--color-text);
    background-color: var(--color-bg);
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0%;
    font-family: var(--display-font-family);
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

header::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    background: url(../img/background4.png) 0 0 repeat;
    background-size: 750px;
    transform: rotate(-16deg);
}


header {
    background-color: #0606064d;
    height: 95vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    word-break: break-all;
    overflow: hidden;
    position: relative;
}


.name-title {
    display: inherit;
    align-items: center;
    min-height: 33vh;
}

.name-title h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 7px;
}

.bienvenue {
    display: inherit;
    justify-content: center;
    min-height: 33vh;
}

.bienvenue h2 {
    font-size: 235px;
}

main::after {
	animation: grain 8s steps(10) infinite;
	background-image: url(../img/noise2.png);
	content: '';
	height: 300%;
	left: -50%;
	opacity: 0.4;
	position: fixed;
	top: -100%;
    width: 300%;
    user-select: none;
    z-index: -1;
}

@keyframes grain {
  0%, 100% { transform:translate(0, 0); }
  10% { transform:translate(-5%, -10%); }
  20% { transform:translate(-15%, 5%); }
  30% { transform:translate(7%, -25%); }
  40% { transform:translate(-5%, 25%); }
  50% { transform:translate(-15%, 10%); }
  60% { transform:translate(15%, 0%); }
  70% { transform:translate(0%, 15%); }
  80% { transform:translate(3%, 35%); }
  90% { transform:translate(-10%, 10%); }
}

.linkLine {
    display: flex;
    justify-content: center;
    
}

.linkLine div {
    position: relative;
    top: -150px;
    height: 300px;
    width: 1px;
    background-color: var(--color-text);
}

.category {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    padding-bottom: 200px;
    margin-left: 20px;
    margin-right: 20px;
}

.category-title {
    width: 50%;
}

.category-title h3 {
    text-align: right;
    line-height: var(--category-line-height);
    font-size: var(--category-text-size);
}

.category-content {
    width: 50%;
    margin-top: 150px;
    counter-reset: menu;
}

.category-content p {
    max-width: 674px;
    font-family: var(--text-font-family);
}

.category-content h4::before {
	counter-increment: menu;
	content:  counter(menu);
	position: absolute;
    pointer-events: none;
    font-family: var(--text-font-family);
    font-size: 10px;
    margin-left: -10px;
}

.category-content h4 {
    text-transform: uppercase;
    margin-bottom: 60px;
    margin-left: 20px;
}

.category-content a {
    font-family: var(--text-font-family);
    letter-spacing: 2px;
    text-decoration: none;
    color: var(--color-text);
}

.category-content a:hover {
    font-family: var(--display-font-family);
}

.category-content a span {
    display: none;
    position: absolute;
    width: 320px;
    margin-top: 50px;
    margin-left: 250px;
    z-index: 2;
    overflow: hidden;
}

.category-content a:hover span {
    display: block;
    animation: fadeIn .5s;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}

.category-content a .external-link {
    position: relative;
    bottom: -3px;
    margin-left: 7px;
}

.category-content a:hover .external-link {
    stroke-width: 2px;
}

@media only screen and (max-width: 1449px) {
    body {
        --category-text-size: 200px;
        --category-line-height: 150px;
    }
}

@media only screen and (max-width: 1319px) {
    body {
        --category-text-size: 150px;
        --category-line-height: 110px;
    }
    .bienvenue h2 {
        font-size: 200px;
    }

    .category-content a span {
        margin-left: -350px;
    }
}

@media only screen and (max-width: 999px) {
    body {
        --category-text-size: 100px;
        --category-line-height: 75px;
    }

    .name-title h1 {
        font-size: 15px;
    }

    .bienvenue h2 {
        font-size: 150px;
    }
}

@media only screen and (max-width: 760px) {
    .bienvenue h2 {
        font-size: 110px;
    }
}

@media only screen and (max-width: 700px) {
    .category {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 100px;
    }

    .category-title {
        width: auto;
    }

    .category-title h3 {
        text-align: left;
    }

    .category-content {
        width: auto;
        margin-top: 50px;
    }

    .category-content p {
        margin-left: 10px;
    }

    .category-content h4 {
        margin-left: 10px;
        margin-bottom: 50px;
    }

    .category-content a:hover span {
        display: none;
    }
}

@media only screen and (max-width: 659px) {
    body {
        --category-text-size: 70px;
        --category-line-height: 50px;
    }
    .bienvenue h2 {
        font-size: 90px;
    }
}

@media only screen and (max-width: 459px) {
    .bienvenue h2 {
        font-size: 70px;
    }
}

@media only screen and (max-width: 369px) {
    .name-title h1 {
        word-break: normal;
        max-width: 220px;
    }

    .bienvenue h2 {
        font-size: 60px;
    }
}

html, body, html *, body * {
    cursor: default;
}

a {
    cursor: pointer;
}

.cursor-dot, .cursor-dot-outline {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.cursor-dot {
    width: 15px;
    height: 15px;
    background-color: var(--color-text);
}
.cursor-dot-outline {
    border: 1px solid var(--color-text);;
    width: 70px;
    height: 70px;
}
