body {
    --color-text: #EFEFEF;
	--color-bg: #121111;
	--color-link: #EFEFEF;
    --color-link-hover: #EFEFEF;
    --category-title-size: 170px;
    --category-title-line-height: 120px;
    --display-font-family: baskerville-poster-pt, serif;
    --text-font-family: 'Roboto', sans-serif;
    --text-size: 20px;
    color: var(--color-text);
    background-color: var(--color-bg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0%;
    font-family: var(--display-font-family);
    font-style: normal;
    font-weight: 100;
    font-size: var(--text-size);
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

header::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/ue4castle_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    filter: contrast(1.2);
    overflow: hidden;
    background-attachment: fixed;
}

header {
    background-color: #1211113b;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    word-break: break-all;
    overflow: hidden;
    position: relative;
}


.name-title {
    display: inherit;
    justify-content: center;
    align-items: center;
    min-height: 33vh;
}

.name-title h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 7px;
}

.bienvenue {
    display: inherit;
    align-items: center;
    justify-content: center;
    min-height: 33vh;
}

.bienvenue h2 {
    font-size: 235px;
}

.links {
    display: inherit;
    align-items: center;
    justify-content: space-between;
    min-height: 33vh;
}

.links a {
    text-align: center;
    text-transform: uppercase;
    font-family: var(--text-font-family);
    letter-spacing: 2px;
    text-decoration: none;
    color: #efefef56;
    margin: 0 10px;
}

.links a:hover {
    display: relative;
    font-family: var(--display-font-family);
    color: var(--color-text);
}

main::after {
	animation: grain 8s steps(10) infinite;
	background-image: url(../img/noise2.png);
	content: '';
	height: 300%;
	left: -50%;
	opacity: 0.7;
	position: fixed;
	top: -100%;
    width: 300%;
    user-select: none;
    z-index: -1;
    overflow: hidden;
}

@keyframes grain {
  0%, 100% { transform:translate(0, 0); }
  10% { transform:translate(-5%, -10%); }
  20% { transform:translate(-15%, 5%); }
  30% { transform:translate(7%, -25%); }
  40% { transform:translate(-5%, 25%); }
  50% { transform:translate(-15%, 10%); }
  60% { transform:translate(15%, 0%); }
  70% { transform:translate(0%, 15%); }
  80% { transform:translate(3%, 35%); }
  90% { transform:translate(-10%, 10%); }
}

.separator {
    margin: 50px auto;
    width: 90vw;
}

.line {
    width: 100%;
    height: 1px;
    background-color: rgba(239, 239, 239, 0.1);
}

.separator--menu {
    display: flex;
    margin-top: 12px;
}

.separator--menu a {
    text-transform: uppercase;
    font-family: var(--text-font-family);
    letter-spacing: 2px;
    color: #efefef56;
    font-size: 12px;
    text-decoration: none;
    margin-right: 15px;
}

.separator--menu--footer {
    display: flex;
    margin-top: 12px;
    justify-content: space-between;
}

.separator--menu--footer a {
    text-transform: uppercase;
    font-family: var(--text-font-family);
    letter-spacing: 2px;
    color: #efefef56;
    font-size: 12px;
    text-decoration: none;
    margin-right: 15px;
}

.separator--menu--footer p {
    text-transform: uppercase;
    font-family: var(--text-font-family);
    letter-spacing: 2px;
    color: #efefef56;
    font-size: 12px;
    text-align: right;
}

.separator--menu--footer div {
    width: 50%;
}


section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}

.category {
    display: flex;
    justify-content: space-around;
    width: 90vw;
}

.category-title {
    width: 50%;
}

.category-title h3 {
    text-align: right;
    line-height: var(--category-title-line-height);
    font-size: var(--category-title-size);
}

.category-content {
    width: 50%;
    margin-top: 150px;
    counter-reset: menu;
}

#alinea::before {
    content: "";
    display: inline-block;
    height: .1px;
    margin: 0 4px 0 0;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: -6px;
    width: 48px;
}

.category-content p {
    max-width: 674px;
    font-family: var(--text-font-family);
}

.internship {
    margin-top: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: var(--text-font-family);
    color: #efefef56;
}

.category-content h4::before {
	counter-increment: menu;
	content:  counter(menu);
	position: absolute;
    pointer-events: none;
    font-family: var(--text-font-family);
    font-size: 10px;
    margin-left: -10px;
}

.category-content h4 {
    text-transform: uppercase;
    margin-bottom: 60px;
    margin-left: 20px;
}

.category-content a {
    font-family: var(--text-font-family);
    letter-spacing: 2px;
    text-decoration: none;
    color: var(--color-text);
}

.category-content a:hover {
    font-family: var(--display-font-family);
}

.category-content a span {
    display: none;
    position: absolute;
    width: 320px;
    margin-top: 50px;
    margin-left: 250px;
    z-index: 2;
    overflow: hidden;
}

.category-content a:hover span {
    display: block;
    animation: fadeIn .5s;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}

.category-content a .external-link {
    position: relative;
    bottom: -3px;
    margin-left: 7px;
    width: 20px;
}

.category-content a:hover .external-link {
    stroke-width: 2px;
}

@media only screen and (max-width: 1319px) {
    body {
        --category-title-size: 150px;
        --category-title-line-height: 110px;
    }
    .bienvenue h2 {
        font-size: 200px;
    }

    .category-content a span {
        margin-left: -350px;
    }
}

@media only screen and (max-width: 1070px) {
    body {
        --category-title-size: 100px;
        --category-title-line-height: 75px;
    }

    .name-title h1 {
        font-size: 15px;
    }

    .bienvenue h2 {
        font-size: 150px;
    }

    .links a {
        font-size: 15px;
    }

    .category-content a .external-link {
        width: 15px;
    }
}

@media only screen and (max-width: 760px) {
    .bienvenue h2 {
        font-size: 110px;
    }
}

@media only screen and (max-width: 734px) {
    .category {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 100px;
    }

    .category-title {
        width: auto;
    }

    .category-title h3 {
        text-align: left;
    }

    .category-content {
        width: auto;
        margin-top: 50px;
    }

    .category-content p {
        margin-left: 10px;
    }

    .category-content h4 {
        margin-left: 10px;
        margin-bottom: 50px;
    }

    .category-content a:hover span {
        display: none;
    }

    .category-content a .external-link {
        width: 12px;
    }
    
    .category-content a:hover .external-link {
        stroke-width: 2px;
    }
}

@media only screen and (max-width: 659px) {
    .bienvenue h2 {
        font-size: 90px;
    }

    header::before {
        background-attachment: local;
    }
}

@media only screen and (max-width: 459px) {
    body {
        --category-title-size: 70px;
        --category-title-line-height: 50px;
        --text-size: 15px;
    }
    
    .bienvenue h2 {
        font-size: 70px;
    }

    .links {
        flex-direction: column;
        justify-content: center;
    }

    .links a {
        font-size: 12px;
        margin: 10px 0;
    }

    .separator--menu a {
        font-size: 8px;
    }

    .separator--menu--footer a {
        font-size: 8px;
    }

    .separator--menu--footer p {
        font-size: 8px;
    }
}

@media only screen and (max-width: 369px) {
    .name-title h1 {
        word-break: normal;
        max-width: 220px;
    }

    .bienvenue h2 {
        font-size: 60px;
    }
}

html, body, html *, body * {
    cursor: none;
}

a, svg {
    cursor: pointer;
}


.cursor {
    position: fixed;
    opacity: 0;
    pointer-events: none;
    mix-blend-mode: difference;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--color-text);
    transition: transform 350ms ease;
    transform: translate(-50%, -50%) scale(.2);
    z-index: 1000;
}
.cursor--link {
    transform: translate(-50%, -50%) scale(.12);
}

.outer-cursor {
    position: fixed;
    opacity: 0;
    pointer-events: none;
    mix-blend-mode: difference;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid var(--color-text);
    transition: transform 350ms ease;
    transition: background-color 350ms ease;
    background-color: transparent;
    transform: translate(-50%, -50%) scale(1);
    z-index: 1000;
}
.outer-cursor--link {
    transform: translate(-50%, -50%) scale(1);
    background-color: var(--color-text);
}

@media only screen and (max-width: 768px) {
    .cursor {
        display: none;
    }

    .cursor--link {
        display: none;
    }

    .outer-cursor {
        display: none;
    }

    .outer-cursor--link {
        display: none;
    }

    html, body, html *, body * {
        cursor: auto;
    }
}