@font-face {
    font-family: 'voyagebold';
    src: url('../font/voyage-bold-webfont.woff2') format('woff2'),
         url('../font/voyage-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    --color-text: #efefefbe;
	--color-bg: #121111;
    --color-bg: #000;
	--color-link: #EFEFEF;
    --color-link-hover: #EFEFEF;
    --secundary-text-color: #efefef92;
    --category-title-size: 170px;
    --category-title-line-height: 120px;
    --display-font-family: "voyagebold", serif;
    --text-font-family: 'Roboto', sans-serif;
    --text-size: 18px;
    --text-size-secondary: 11px;
    --text-size-tertiary: 11px;
    color: var(--color-text);
    background-color: var(--color-bg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0%;
    font-family: var(--display-font-family);
    font-style: normal;
    font-weight: 100;
    font-size: var(--text-size);
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

#backgroundNoise {
    position: fixed!important;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    top: 0;
}

header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    word-break: break-all;
    overflow: hidden;
    position: relative;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
}

.navbar {
    margin: auto;
    width: 90vw;
    display: flex;
    justify-content: space-between;
}

/* .name {
    font-weight: 300!important;
    
} */

.navbar a {
    text-transform: uppercase;
    font-family: var(--text-font-family);
    letter-spacing: 1.5px;
    color: var(--secundary-text-color);
    font-weight: 700;
    font-size: var(--text-size-tertiary);
    text-decoration: none;
    margin-right: 15px;
}

.navbar-line {
    display: none;
    margin-top: 50px;
    width: 100%;
    height: 1px;
    background-color: rgba(239, 239, 239, 0.1);
}

.name-title {
    display: inherit;
    justify-content: center;
    align-items: center;
    min-height: 33vh;
}

.name-title h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 7px;
}

.bienvenue {
    display: inherit;
    align-items: center;
    justify-content: center;
    min-height: 33vh;
    word-break:normal;
    text-align: center;
}

.bienvenue h2 {
    font-size: 235px;
}

.links {
    display: inherit;
    align-items: center;
    justify-content: space-between;
    min-height: 33vh;

    display: none;
}

.links a {
    text-align: center;
    text-transform: uppercase;
    font-family: var(--text-font-family);
    /* letter-spacing: 2px; */
    text-decoration: none;
    color: var(--secundary-text-color);
    margin: 0 10px;
}

.links a:hover {
    /* display: relative;
    font-family: var(--display-font-family);
    color: var(--color-text); */
    letter-spacing: 100px;
}

footer {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    width: 90vw;
    z-index: 100;
}

.line {
    width: 100%;
    height: 1px;
    background-color: rgba(239, 239, 239, 0.1);
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* margin-top: 100px; */
    margin-bottom: 100px;
}

.category {
    width: 80%;
}

.category-title h3 {
    line-height: var(--category-title-line-height);
    font-size: var(--category-title-size);
    margin-bottom: 30px;
    font-family: var(--display-font-family);
}

.category-content {
    counter-reset: menu;
    /* margin-left: 30px; */
    
}

#alinea::before {
    content: "";
    display: inline-block;
    height: .1px;
    margin: 0 4px 0 0;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: -6px;
    width: 48px;
}

.category-content p {
    max-width: 674px;
    font-family: var(--text-font-family);
}

.category-content-video-container {
    display: flex;
    
}

.category-content-video {

}

.comment {
    margin-top: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: var(--text-size-secondary);
    font-family: var(--text-font-family);
    color: var(--secundary-text-color);
    font-weight: 700;
}

.category-content h4::before {
	counter-increment: menu;
	content:  counter(menu);
	position: absolute;
    pointer-events: none;
    font-family: var(--text-font-family);
    font-size: 10px;
    margin-left: -10px;
}

.category-content h4 {
    text-transform: uppercase;
    margin-bottom: 60px;
    margin-left: 20px;
}

.category-content a {
    font-family: var(--text-font-family);
    /* letter-spacing: 2px; */
    text-decoration: none;
    color: var(--color-text);

    transition: font-weight .2s ease-in-out;
}

.category-content a:hover {
    /* font-family: var(--display-font-family); */
    font-weight: 900;
    
}

.category-content a span {
    display: none;
    position: absolute;
    width: 320px;
    margin-top: 50px;
    margin-left: 250px;
    z-index: 2;
    overflow: hidden;
}

.category-content a:hover span {
    display: block;
    animation: fadeIn .5s;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}

.category-content a .external-link {
    position: relative;
    bottom: -3px;
    margin-left: 7px;
    width: 20px;
}

.category-content a:hover .external-link {
    stroke-width: 2px;
}

.footer-menu {
    display: flex;
    margin-top: 12px;
    justify-content: space-between;
}

.footer-menu a {
    text-transform: uppercase;
    font-family: var(--text-font-family);
    letter-spacing: 2px;
    color: var(--secundary-text-color);
    text-decoration: none;
    margin-right: 15px;
    font-size: var(--text-size-secondary);
}

.footer-menu p {
    text-transform: uppercase;
    font-family: var(--text-font-family);
    letter-spacing: 2px;
    color: var(--secundary-text-color);
    text-align: right;
    font-size: var(--text-size-secondary);
}

.footer-menu div {
    width: 50%;
}

@media only screen and (max-width: 1319px) {
    body {
        --category-title-size: 150px;
        --category-title-line-height: 110px;
    }
    .bienvenue h2 {
        font-size: 200px;
    }

    .category-content a span {
        margin-left: -350px;
    }
}

@media only screen and (max-width: 1070px) {
    body {
        --category-title-size: 100px;
        --category-title-line-height: 75px;
    }

    .name-title h1 {
        font-size: 15px;
    }

    .bienvenue h2 {
        font-size: 150px;
    }

    .links a {
        font-size: 15px;
    }

    .category-content a .external-link {
        width: 15px;
    }
}

@media only screen and (max-width: 760px) {
    .bienvenue h2 {
        font-size: 110px;
    }
}

@media only screen and (max-width: 734px) {
    .category {
        flex-direction: column;
        justify-content: center;
        align-items: left;
    }

    .category-title {
        width: auto;
    }

    .category-title h3 {
        text-align: left;
        margin-bottom: 50px;
    }

    .category-content {
        width: auto;
    }

    .category-content p {
        /* margin-left: 10px; */
    }

    .category-content h4 {
        margin-left: 10px;
        margin-bottom: 50px;
    }

    .category-content a:hover span {
        display: none;
    }

    .category-content a .external-link {
        width: 12px;
    }
    
    .category-content a:hover .external-link {
        stroke-width: 2px;
    }
}

@media only screen and (max-width: 659px) {
    .bienvenue h2 {
        font-size: 90px;
    }

    header::before {
        background-attachment: local;
    }

    .external-link {
        display: none;
    }
}

@media only screen and (max-width: 459px) {
    body {
        --category-title-size: 70px;
        --category-title-line-height: 50px;
        --text-size: 15px;
    }
    
    .bienvenue h2 {
        font-size: 70px;
    }

    .links {
        flex-direction: column;
        justify-content: center;
    }

    .links a {
        font-size: 12px;
        margin: 10px 0;
    }

    .separator--menu a {
        font-size: 8px;
    }

    .footer-menu a {
        font-size: 8px;
    }

    .footer-menu p {
        font-size: 8px;
    }
}

@media only screen and (max-width: 369px) {
    .name-title h1 {
        word-break: normal;
        max-width: 220px;
    }

    .bienvenue h2 {
        font-size: 60px;
    }
}

html, body, html *, body * {
    cursor: none;
}

a, svg {
    cursor: pointer;
}


.cursor {
    position: fixed;
    opacity: 0;
    pointer-events: none;
    mix-blend-mode: difference;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--color-text);
    transition: transform 350ms ease;
    transform: translate(-50%, -50%) scale(1);
    z-index: 1;
}
.cursor--link {
    background-color: var(--color-text);
    transform: translate(-50%, -50%) scale(.90);
}

.outer-cursor {
    display: none;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    mix-blend-mode: difference;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--color-text);
    transition: transform 350ms ease;
    transition: background-color 350ms ease;
    background-color: transparent;
    transform: translate(-50%, -50%) scale(1);
    z-index: 4000;
}
.outer-cursor--link {
    transform: translate(-50%, -50%) scale(1);
    background-color: var(--color-text);
}

@media only screen and (max-width: 768px) {
    .cursor {
        display: none;
    }

    .cursor--link {
        display: none;
    }

    .outer-cursor {
        display: none;
    }

    .outer-cursor--link {
        display: none;
    }

    html, body, html *, body * {
        cursor: auto;
    }
}


video {
    z-index: -100;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.external-link {
    display: none;
}