<!DOCTYPE html>
<html lang="fr" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Manaut Berton-Boitel, Student in Game & Level Design">
        <title>Manaut Berton-Boitel</title>

        <!-- Personnal CSS -->
        <link rel="stylesheet" href="../../css/style.css">
        <link rel="stylesheet" href="../../css/navbar.css">
        <link rel="stylesheet" href="../../css/footer.css">
        <link rel="stylesheet" href="../../css/cursor.css">
        <link rel="stylesheet" href="../../css/grain.css">
        <link rel="stylesheet" href="../../css/project.css">

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        
        <!-- Favicon -->
        <link rel="icon" type="image/png" href="../../img/favicon.png">
    </head>

    <body>
        <!-- Grain / Noise effect -->
        <div class="grain"></div>

        <!-- Header / Navigation -->
        <nav id="targetNav">
            <div class="navbar" id="originNav">
                <div class="name">
                    <a class="comment" href="../../index.html">Manaut Berton-Boitel</a>
                </div>
                <div class="header__main__navs">
                    <a class="comment" href="../../index.html#work">Game development</a>
                    <a class="comment" href="../../index.html#links">links & socials</a>
                </div>
            </div>
        </nav>

        <main>
            <div class="project">
                <iframe src="https://www.youtube.com/embed/rvzlC4iCtns?loop=1&showinfo=0&rel=0&cc_load_policy=1&iv_load_policy=3&fs=0&playlist=rvzlC4iCtns" title="Teaser Death Of Internet" frameborder="0"></iframe>
                <div class="project-description">
                    <h4 class="data-title">Title Placeholder</h4>
                    <p class="data-description comment">Description Placeholder</p>
                    <img class="data-image" src="img/imagePlaceholder.jpg" alt="Title Placeholder" style="display: none;"/>
                    <p>
                        Content Placeholder
                    </p>
                    <div class="line"></div>
                    <div class="control_buttons">
                        <a href="insertPrevProject.html">
                            <div>
                                <p class="comment">prev. project</p>
                            </div>
                        </a>
                        <a href="insertNextProject.html">
                            <div>
                                <p class="comment">next project</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </main>

        <!-- Footer -->
        <footer id="targetFooter" data-scroll-section>
            <div class="line"></div>
            <div class="footer-menu">
                <a class="comment" href="../../index.html">back to home page</a>
                <p class="comment">© 2025 Manaut Berton-Boitel, all rights reserved</p>
            </div>
        </footer>

        <!-- Cursor -->
        <div class="cursor"></div>
        <div class="outer-cursor">
        </div>

        <!-- Ressources -->
        <script src="../../js/TweenMax.min.js"></script>

        <!-- Scripts -->
        <script src="../../js/setMainHeight.js"></script>
        <script src="../../js/cursor.js"></script>
    </body>
</html>